In [19]:
import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()

In [3]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"

In [4]:
url

'https://api-fxpractice.oanda.com/v3/accounts/101-001-21480363-001/instruments'

In [5]:
response = session.get(url, params=None, headers=defs.SECURE_HEADER)

In [7]:
response.status_code

200

In [8]:
data = response.json()

In [9]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [10]:
instruments = data['instruments']

In [14]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [15]:
instrument_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate'],
    )
    instrument_data.append(new_ob)

In [18]:
for item in instrument_data[:3]:
    print(item)

{'name': 'EUR_HUF', 'type': 'CURRENCY', 'displayName': 'EUR/HUF', 'pipLocation': -2, 'marginRate': '0.05'}
{'name': 'EUR_DKK', 'type': 'CURRENCY', 'displayName': 'EUR/DKK', 'pipLocation': -4, 'marginRate': '0.1'}
{'name': 'USD_MXN', 'type': 'CURRENCY', 'displayName': 'USD/MXN', 'pipLocation': -4, 'marginRate': '0.10'}

In [20]:
#put this in a table/data frame
instrument_df = pd.DataFrame.from_dict(instrument_data)

In [21]:
instrument_df

       name      type displayName  pipLocation marginRate
0   EUR_HUF  CURRENCY     EUR/HUF           -2       0.05
1   EUR_DKK  CURRENCY     EUR/DKK           -4        0.1
2   USD_MXN  CURRENCY     USD/MXN           -4       0.10
3   GBP_USD  CURRENCY     GBP/USD           -4       0.03
4   CAD_CHF  CURRENCY     CAD/CHF           -4       0.04
..      ...       ...         ...          ...        ...
63  GBP_AUD  CURRENCY     GBP/AUD           -4       0.03
64  USD_PLN  CURRENCY     USD/PLN           -4       0.05
65  CAD_HKD  CURRENCY     CAD/HKD           -4        0.1
66  GBP_CAD  CURRENCY     GBP/CAD           -4       0.03
67  GBP_PLN  CURRENCY     GBP/PLN           -4       0.03

[68 rows x 5 columns]

In [22]:
instrument_df.to_pickle("instruments.pkl")

In [23]:
new_table = pd.read_pickle("instruments.pkl")

In [24]:
new_table

       name      type displayName  pipLocation marginRate
0   EUR_HUF  CURRENCY     EUR/HUF           -2       0.05
1   EUR_DKK  CURRENCY     EUR/DKK           -4        0.1
2   USD_MXN  CURRENCY     USD/MXN           -4       0.10
3   GBP_USD  CURRENCY     GBP/USD           -4       0.03
4   CAD_CHF  CURRENCY     CAD/CHF           -4       0.04
..      ...       ...         ...          ...        ...
63  GBP_AUD  CURRENCY     GBP/AUD           -4       0.03
64  USD_PLN  CURRENCY     USD/PLN           -4       0.05
65  CAD_HKD  CURRENCY     CAD/HKD           -4        0.1
66  GBP_CAD  CURRENCY     GBP/CAD           -4       0.03
67  GBP_PLN  CURRENCY     GBP/PLN           -4       0.03

[68 rows x 5 columns]