In [1]:
import requests
import defs
import pandas as pd

In [2]:
session = requests.Session()

In [3]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [4]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"

In [5]:
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [6]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)

In [7]:
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [8]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)

In [9]:
response.status_code

200

In [10]:
data = response.json()

In [11]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [12]:
len(data['candles'])

10

In [13]:
prices = ['mid', 'bid', 'ask']
ohlc = ['o', 'h', 'l', 'c']

In [14]:
for price in prices:
    for oh in ohlc:
        print(f"{price}_{oh}")

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [15]:
data['candles'][0]

{'complete': True,
 'volume': 7624,
 'time': '2022-01-31T14:00:00.000000000Z',
 'bid': {'o': '1.11925', 'h': '1.11980', 'l': '1.11840', 'c': '1.11886'},
 'mid': {'o': '1.11931', 'h': '1.11988', 'l': '1.11846', 'c': '1.11892'},
 'ask': {'o': '1.11937', 'h': '1.11995', 'l': '1.11853', 'c': '1.11899'}}

In [16]:
our_data = []
for candle in data['candles']:
    # skip if candle is not completely drawn
    if candle['complete'] == False:
        continue
    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']

    for price in prices:
        for oh in ohlc:
            new_dict[f"{price}_{oh}"] = candle[price][oh]
    our_data.append(new_dict)

print(our_data[0])

{'time': '2022-01-31T14:00:00.000000000Z', 'volume': 7624, 'mid_o': '1.11931', 'mid_h': '1.11988', 'mid_l': '1.11846', 'mid_c': '1.11892', 'bid_o': '1.11925', 'bid_h': '1.11980', 'bid_l': '1.11840', 'bid_c': '1.11886', 'ask_o': '1.11937', 'ask_h': '1.11995', 'ask_l': '1.11853', 'ask_c': '1.11899'}

In [17]:
candles_df = pd.DataFrame.from_dict(our_data)

In [18]:
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2022-01-31T14:00:00.000000000Z,7624,1.11931,1.11988,1.11846,1.11892,1.11925,1.11980,1.11840,1.11886,1.11937,1.11995,1.11853,1.11899
1,2022-01-31T15:00:00.000000000Z,9629,1.11892,1.12179,1.11834,1.12108,1.11885,1.12172,1.11827,1.12101,1.11898,1.12187,1.11840,1.12115
2,2022-01-31T16:00:00.000000000Z,7152,1.12110,1.12136,1.11988,1.12102,1.12103,1.12129,1.11979,1.12095,1.12117,1.12145,1.11996,1.12109
3,2022-01-31T17:00:00.000000000Z,3810,1.12104,1.12198,1.12096,1.12192,1.12097,1.12191,1.12089,1.12186,1.12110,1.12205,1.12103,1.12199
4,2022-01-31T18:00:00.000000000Z,2717,1.12192,1.12344,1.12184,1.12334,1.12185,1.12337,1.12177,1.12326,1.12198,1.12351,1.12191,1.12342
5,2022-01-31T19:00:00.000000000Z,2628,1.12332,1.12478,1.12322,1.12432,1.12324,1.12470,1.12315,1.12425,1.12341,1.12486,1.12329,1.12439
6,2022-01-31T20:00:00.000000000Z,2402,1.12433,1.12456,1.12333,1.12352,1.12426,1.12448,1.12325,1.12344,1.12440,1.12464,1.12340,1.12360
7,2022-01-31T21:00:00.000000000Z,670,1.12351,1.12355,1.12305,1.12330,1.12344,1.12348,1.12297,1.12320,1.12358,1.12362,1.12313,1.12339
8,2022-01-31T22:00:00.000000000Z,66,1.12357,1.12357,1.12312,1.12312,1.12319,1.12324,1.12286,1.12294,1.12395,1.12395,1.12326,1.12329

In [19]:
candles_df.to_pickle("EUR_USD_H1.pkl")

In [20]:
test_df = pd.read_pickle("EUR_USD_H1.pkl")

In [21]:
test_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2022-01-31T14:00:00.000000000Z,7624,1.11931,1.11988,1.11846,1.11892,1.11925,1.11980,1.11840,1.11886,1.11937,1.11995,1.11853,1.11899
1,2022-01-31T15:00:00.000000000Z,9629,1.11892,1.12179,1.11834,1.12108,1.11885,1.12172,1.11827,1.12101,1.11898,1.12187,1.11840,1.12115
2,2022-01-31T16:00:00.000000000Z,7152,1.12110,1.12136,1.11988,1.12102,1.12103,1.12129,1.11979,1.12095,1.12117,1.12145,1.11996,1.12109
3,2022-01-31T17:00:00.000000000Z,3810,1.12104,1.12198,1.12096,1.12192,1.12097,1.12191,1.12089,1.12186,1.12110,1.12205,1.12103,1.12199
4,2022-01-31T18:00:00.000000000Z,2717,1.12192,1.12344,1.12184,1.12334,1.12185,1.12337,1.12177,1.12326,1.12198,1.12351,1.12191,1.12342
5,2022-01-31T19:00:00.000000000Z,2628,1.12332,1.12478,1.12322,1.12432,1.12324,1.12470,1.12315,1.12425,1.12341,1.12486,1.12329,1.12439
6,2022-01-31T20:00:00.000000000Z,2402,1.12433,1.12456,1.12333,1.12352,1.12426,1.12448,1.12325,1.12344,1.12440,1.12464,1.12340,1.12360
7,2022-01-31T21:00:00.000000000Z,670,1.12351,1.12355,1.12305,1.12330,1.12344,1.12348,1.12297,1.12320,1.12358,1.12362,1.12313,1.12339
8,2022-01-31T22:00:00.000000000Z,66,1.12357,1.12357,1.12312,1.12312,1.12319,1.12324,1.12286,1.12294,1.12395,1.12395,1.12326,1.12329